In [1]:
import os 
import h5py 
import numpy as np 
import pandas as pd
from optutils import *
from CONSTANT import * 
import datetime

In [2]:
def load_feature(dates = None, feature_name = 'BasicFeatures_TWAP', silence = True):
    path = f'{data_root}Features/5min/'
    if dates == None:
        dates = [sorted(os.listdir(path))[-1]]
    if (type(dates) == str) | (type(dates) == int):
        dates = [int(dates)]
    feature_tb = []
    for date_int in dates:
        date = str(date_int)
        feature_tb_file = f'{data_root}Features/5min/{date}/{feature_name}.h5'
        if not silence:
            print(feature_tb_file)
        f = h5py.File(feature_tb_file,'r')
        data = np.array(f['data'])
        index = np.array(f['timestamp'])/1000
        columns = np.array(f['stock'])
        columns = [str(s).zfill(6) for s in columns]
        feature = pd.DataFrame(data,index=[date+ ' ' + str(int(s)).zfill(6)[0:2]+':'+str(int(s)).zfill(6)[2:4]+':'+str(int(s)).zfill(6)[4:6] for s in index],columns=columns)
        feature_tb.append(feature)
    feature_tb = pd.concat(feature_tb, axis = 0)
    return feature_tb

In [7]:
path = f'{data_root}Features/5min/'
dates = sorted(os.listdir(path))
feature_names = []
for date in dates:
    feature_path = os.path.join(path, date)
    if feature_names == []:
        feature_names = set(os.listdir(feature_path))
    else:
        feature_names = feature_names.intersection(os.listdir(feature_path))
feature_names = sorted(list(feature_names))

In [8]:
len(feature_names)

1683

In [ ]:
len(dates)

In [9]:
df = load_feature(dates, feature_names[0][:-3])

,000005,600601,600602,600651,600652,600653,600654,600656,000004,000002,...,603310,301611,301571,603207,301586,001277,688710,301607,301600,603091
20180615 09:35:00,170925.0,191360.50,142666.500,544978.50,1807212.50,14052.5,709682.000,NaN,37381.5,3.949505e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20180615 09:40:00,124449.5,242959.50,253554.500,428007.00,719660.00,194613.0,497737.565,NaN,21119.0,1.000863e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20180615 09:45:00,109189.5,196504.00,50439.000,541548.00,326658.00,61283.5,187145.435,NaN,22101.5,1.149946e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20180615 09:50:00,149903.0,89047.00,17879.000,229529.20,338407.42,49531.5,81081.000,NaN,32150.0,6.899536e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20180615 09:55:00,44673.5,202618.00,115018.000,307817.74,365738.42,52504.5,332653.000,NaN,99309.5,4.593024e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20240920 14:40:00,NaN,1772276.50,2942303.500,721353.00,NaN,180269.0,114174.500,NaN,75920.0,1.450862e+07,...,500653.0,1770924.00,1554596.00,15969271.29,913599.140,1302781.50,1653956.175,886768.50,2910527.50,4.592199e+06
20240920 14:45:00,NaN,789242.50,2736061.170,405356.50,NaN,1522536.0,386460.500,NaN,122640.0,2.153175e+07,...,569641.5,2943219.00,2537385.00,4696176.56,1746835.000,2572964.50,823804.005,2103463.30,2303316.50,3.950257e+06
20240920 14:50:00,NaN,1495735.00,2624197.245,566346.50,NaN,69105.5,121083.500,NaN,159140.0,1.183736e+07,...,570252.0,1577492.50,1684459.00,2911103.50,1409733.500,2272850.48,655581.925,1347173.05,1869202.50,8.911321e+06
20240920 14:55:00,NaN,1941186.45,3965237.500,465377.50,NaN,253618.0,147387.000,NaN,1083320.0,1.832365e+07,...,587323.0,4746746.77,4069645.78,3177481.75,2060475.395,3048668.00,1176178.070,3183411.08,3023197.00,1.047000e+07
20240920 15:00:00,NaN,1987336.00,4265484.670,605730.00,NaN,385740.5,100312.000,NaN,529250.0,3.708038e+07,...,1731707.0,5849222.00,3256720.00,3899702.44,5199219.810,8912641.16,639352.020,10741724.44,7484436.38,1.089686e+07